@using Sub.Models.Entities.Company.VM
@model CompanyVM
@{
    ViewData["Title"] = "GetCompanyById";
}


<div class="container">
    <h1 class="text-center">@Model.Name</h1> 

    <div class="row">
        <div class="col-md-6">
            <h4>Основная информация</h4>
            <dl class="row">
                <dt class="col-sm-4">Офиц. Имя</dt>
                <dd class="col-sm-8">@Model.NameLegal</dd>

                <dt class="col-sm-4">Телефон:</dt>
                <dd class="col-sm-8">@Model.Phone</dd>

                <dt class="col-sm-4">Адрес:</dt>
                <dd class="col-sm-8">@Model.Address</dd>

                <dt class="col-sm-4">Локация:</dt>
                <dd class="col-sm-8">@Model.Location</dd>

                <dt class="col-sm-4">Тип:</dt>
                <dd class="col-sm-8">@Model.Type</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <h4>Легальная информация</h4>
            <dl class="row">
                <dt class="col-sm-4">ИНН:</dt>
                <dd class="col-sm-8">@Model.INN</dd>

                <dt class="col-sm-4">КПП:</dt>
                <dd class="col-sm-8">@Model.KPP</dd>

                <dt class="col-sm-4">ОГРН:</dt>
                <dd class="col-sm-8">@Model.OGRN</dd>

                <dt class="col-sm-4">OKПO:</dt>
                <dd class="col-sm-8">@Model.OKPO</dd>

                <dt class="col-sm-4">БИК:</dt>
                <dd class="col-sm-8">@Model.BIK</dd>

                <dt class="col-sm-4">Имя Банка:</dt>
                <dd class="col-sm-8">@Model.BankName</dd>

                <dt class="col-sm-4">Адрес Банка:</dt>
                <dd class="col-sm-8">@Model.BankAddress</dd>

                <dt class="col-sm-4">Корр Аккаунт</dt>
                <dd class="col-sm-8">@Model.CorrAccount</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Дополнительная информация</h4>
            <p>@Model.Info</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Работники</h4>
            @if (Model.Employees.Any())
            {
                <ul>
                    @foreach (var employee in Model.Employees)
                    {
                        <li>@employee.User.LastName @employee.User.FirstName @employee.User.MiddleName</li>
                    }
                </ul>
            }
            else
            {
                <p>Пока нету работников</p>
            }
        </div>
        <a asp-controller="Company" asp-action="Invite" asp-route-companyId="@Model.Id"  class="btn btn-primary">Пригласить работника</a>
    </div>
</div>